.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-image: linear-gradient(135deg,#457a38,#669b58,#a8de97 48%,#c9ffb7);
}

.form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  
}

@media screen and (min-width: 600px) {
  .form-container {
    padding: 3rem;
    border: 0.0625rem solid white;
    border-radius: 0.625rem;
    margin: 0.3125rem;
  }
}

label {
  text-align: left;
  padding: 0.15625rem 0;
}

input {
  margin: 0.3125rem 0;
  padding: 1rem;
  border: none;
  border-radius: 0.625rem;
}

button {
  border: none; 
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;
  color:#006400;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
  width: 25rem;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f5f5f5;
  
}

.registrarproduto {
  margin: 0;
  box-sizing: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.containerregistrarproduto {
  position: relative;
  max-width: 60%;
  width: 100%;
  border-radius: 15px;
  padding: 45px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.containerregistrarproduto header {
  font-size: 1.5625rem; 
  color: #333;
  font-weight: 500;
  text-align: left;
}

.containerregistrarproduto .formreg {
  margin-top: 5px;
}

.formreg .input-boxreg {
  width: 100%;
  /*margin-top: 20px;*/
}

.input-boxreg label {
  color: #333;
}

.formreg .input-boxreg input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #457a38;
  border-radius: 15px;
  padding: 0 15px;
}

.columbtn {
  display: flex;
  column-gap: 20px;
  padding: 20px 0;
  gap: 20px;
  justify-content: end;
  align-items: center;
} 

.btnreg {
  width: 200px;
  background-color: #3b93eb;
  color: #000000;
}

.btnreg:hover {
  background-color: #66b3ff;
}

.btncancel {
  background-color: #ffd447;
  color: #000;
}

.btncancel:hover {
  background-color: #ffdb66;
}

.btndelete {
  background-color: #A52A2A;
  color: #000;
  width: 200px;
}

.btndelete:hover {
  background-color: #B22222;
}

.attproduto {
  margin: 0;
  box-sizing: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.containerattproduto {
  position: relative;
  max-width: 60%;
  border-radius: 15px;
  padding: 45px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.containerattproduto header {
  font-size: 1.5625rem; 
  color: #333;
  font-weight: 500;
  text-align: left;
}


.containerattproduto .formatt {
  margin-top: 5px;
}

.formatt .input-boxatt {
  width: 100%;
  /*margin-top: 20px;*/
}

.input-boxatt label {
  color: #333;
}

.formatt .input-boxatt input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #457a38;
  border-radius: 15px;
  padding: 0 15px;
}

.contato {
  margin: 0;
  box-sizing: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.containercontato {
  position: relative;
  max-width: 60%;
  width: 100%;
  
  border-radius: 15px;
  padding: 45px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.selectboxassunto {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #457a38;
  border-radius: 15px;
  padding: 0 15px;
  background-color: #ffffff;
}

.selectboxassunto select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.formatt .areacontato input {
  position: relative;
  height: 110px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #457a38;
  border-radius: 15px;
  padding: 0 15px;
}

.areacontato label {
  color: #333;
}

.containercontato header {
  font-size: 1.5625rem; 
  color: #333;
  font-weight: 500;
  text-align: left;
}