.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  /*background-image: linear-gradient(135deg,#c9ffb7, #a8de97 48%,  #669b58, #457a38);*/
  background-color: rgb(247, 247, 247);
}

.form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background-color: white;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
}

.form-container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  
}

@media screen and (min-width: 600px) {
  .form-container {
    padding: 3rem;
    border: 0.0625rem solid white;
    border-radius: 0.625rem;
    margin: 0.3125rem;
  }
}

label {
  text-align: left;
  padding: 0.15625rem 0;
}

input {
  margin: 0.3125rem 0;
  padding: 1rem;
  border: 1px solid #d8d8d8;
  border-radius: 0.625rem;
}

button {
  border: none; 
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;
  color:#006400;
}

button {
  display: inline-block;
  padding: 16px 32px;
  background: #333;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #fff;
}

button:hover {
  background-color: #333333c5;
}

.link-btn {
  background: none;
  color: #3b93eb;
  text-decoration: underline;
  width: 25rem;
  border: none;
}

.link-btn:hover {
  background: rgba(255, 255, 255, 0);
}

.registrarproduto {
  margin: 0;
  box-sizing: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.containerregistrarproduto {
  position: relative;
  max-width: 70%;
  width: 100%;
  border-radius: 15px;
  padding: 30px;
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);*/
  /*border: 1px solid #cecece;*/
}

.containerregistrarproduto header {
  font-size: 1.5625rem; 
  color: #333;
  font-weight: 500;
  text-align: left;
}

.containerregistrarproduto .formreg {
  margin-top: 5px;
}

.formreg .input-boxreg {
  width: 100%;
  /*margin-top: 20px;*/
}

.input-boxreg label {
  color: #333;
}

.formreg .input-boxreg input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  padding: 0 15px;
}

.columbtn {
  display: flex;
  column-gap: 20px;
  padding: 20px 0;
  gap: 20px;
  justify-content: end;
  align-items: center;
} 

.btnreg {
  width: 200px;
  background-color: #3b93eb;
  color: #000000;
  border-radius: 30px;
}

.btnreg:hover {
  background-color: #66b3ff;
}

.btncancel {
  background-color: #ffd447;
  color: #000;
  border-radius: 30px;
}

.btncancel:hover {
  background-color: #ffe48d;
}

.btndelete {
  border-radius: 30px;
  background-color: #ff2828de;
  color: #000;
  width: 200px;
}

.btndelete:hover {
  background-color: #ff6d6d;
}

.attproduto {
  margin: 0;
  box-sizing: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.containerattproduto {
  position: relative;
  max-width: 70%;
  border-radius: 15px;
  padding: 30px;
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);*/
}

.containerattproduto header {
  font-size: 1.5625rem; 
  color: #333;
  font-weight: 500;
  text-align: left;
}


.containerattproduto .formatt {
  margin-top: 5px;
}

.formatt .input-boxatt {
  width: 100%;
  /*margin-top: 20px;*/
}

.input-boxatt label {
  color: #2e2e2e;
}

.formatt .input-boxatt input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 0 15px;
}

.contato {
  margin: 0;
  box-sizing: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.containercontato {
  position: relative;
  max-width: 70%;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);*/
}

.selectboxassunto {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 0 15px;
  background-color: #ffffff;
}

.selectboxassunto select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.formatt .areacontato input {
  position: relative;
  height: 110px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  padding: 5px;
}

.areacontato label {
  color: #333;
}

textarea {
  padding: 10px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #dedede;
  resize: vertical;
  font-family: 'Roboto';font-size: 16px;
}

.containercontato header {
  font-size: 1.5625rem; 
  color: #333;
  font-weight: 500;
  text-align: left;
}

/*TELA HOME NAV*/

.header-home {
  background-color: #a8de97 ;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.headerhome {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.containerhome {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.imglogo {
  width: 140px;
  height: 25px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px;
  border-radius: 12px;
  color: #333;
  position: relative;
}

.header-menu a:after { 
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  color: #fff;
  background: #fff;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
  color: #fff;
}

.header-menu a:hover {
  color: #fff;
}

.font-1-m {
  font: 500 1.125rem/1.35;
  color: #333;
} 

/*TELA HOME CONTEUDO TOPO*/

.introducao-bg {
  background: #a8de97;
  box-shadow: inset 0 -120px #f3f4fa;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;

}


.introducao-conteudo {
  align-self: end;
  padding-bottom: 145px;
}

.introducao img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.introducao h1 {
  margin-bottom: 32px;
  
}

.introducao p {
  margin-bottom: 20px;
}

.font-1-xxl {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.125;
  color: #333;
}

.cor-p1 {
  color: #3b93eb;
}

.font-2-1 {
  font-weight: 400;
  font-size: 1.225rem;
  line-height: 1.5;
}

.botao1 {
  display: inline-block;
  padding: 16px 32px;
  background: #3b93eb;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.35;
}

.botao1:hover {
  background: #57abff;
}

/* EQUIPE HOME */

.equipe-lista {
  padding-top: 60px;
  padding-bottom: 12px;
}

.equipe-lista h2 {
  margin-bottom: 40px;
}
.equipe-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.equipe-lista li {
  min-width: 280px;
  flex: 1;
}

.equipe-lista a {
  display: block;
}

.imagenstratamento img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.equipe-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.equipe-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: rgb(247, 247, 247);
  transition: widht 0.2s;
}

.equipe-lista a:hover h3::before {
  width: 24px;
}

.equipe-lista li span {
  padding-left: 20px;
}

.font-1-xl {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
}

.font-2-m {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.35;
}

.font-1-xxl2 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.125;
  color: #333;
}

/* footer */

.footer-bghome {
  background-color: #a8de97;
}

.footersi {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footersi h3 {
  margin-bottom: 32px;
}

.footersi-contato ul {
  margin-bottom: 32px;
}

.footersi li {
  margin-bottom: 16px;
}

.footersi-contato li:nth-child(2)::after,
.footersi-contato li:nth-child(4)::after {
  content: "";
  display: block;
  max-width: 360px;
  background: #fff;
  height: 2px;
  margin-top: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footersi a:hover {
  color: #fff;
}

.footer-copy {
  grid-column: 1 / -1;
  margin-top: 40px;
}

.font-2-1-b {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

.font-1-m {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.35;
}

.espacamento {
  background-color: #fff;
  padding: 1px;
  width: 1200px;
}

hr {
  height: 1px;
  border: none;
  background-color: #cecece;
}

h2 {
  color: #333;
}

ul.impar, li.prodItemImp {
  width: 70%;
  height: 50px;
  background-color: #333;
  margin: 2px;
}

li.prodItemPar {
  width: 70%;
  height: 50px;
  background-color: #ffffff;
  margin: 2px;
}

ul {
  width: 70%;
}

.prodList {
  width: 70%;
  height: 100px;
  background-color: #333;
}

li.par {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 10px;
  color: #333;
  border: rgb(221, 221, 221) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li.impar {
  width: 100%;
  height: 50px;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  color: #333;
  border: rgb(199, 199, 199) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

li.beginEnd {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 10px;
  color: #333;
  border-radius: 12px 12px 0 0;
  border: rgb(210, 210, 210) 1px solid;

}

ul p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}